<html>
    <title>Movie Posters Palettes</title>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    </head>
    <body style="background-color: {{data.primaryColor}};">
        <div id="colors">
            {% for x in data.otherColors %}
            <div  id="parent" style="background-color: {{x.color}}; width: {{x.proportion*300}}%; height: 16.66%; ">
                <div id="hover-content">
                    <b>{{x.color}}</b>
                </div>
            </div> 
            {% endfor %}
        </div> 
        <center>
        <div id="form">
                <form method="POST">
                    <input name="query" placeholder="{{name}}" type="text">
                </form>
                <img src="{{data.poster}}" height=90%>
        </div>
        </center>

        <div id="primary" class="info">
            <b>
                {{data.primaryColor}}
                <br>
                <a href="#null">
                    What is this?
                    <span>
                        This application extracts the 7 most dominant colors from a movie's poster by using k-means clustering on its pixels' RGB values.<br><br>Posters provided by TMDB.
                    </span>
                </a>
            </b>
        </div>
    
    </body>    
    <div id="footer">
        Made by <a href="http://www.fireblend.com"><b>Fireblend</b></a><br>for <a href="http://www.wearegap.com"><b>GAP</b></a>'s 2021 Serverless Challenge
    </div>
</html>
